@model List<Chat>

@{
    
}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="z-index: 2000;">
    <a class="navbar-brand" href="/" style="font-size: 30px; color: #4495cb; margin-right: auto;margin-left: 100px;">
        <b b-q1wspa50lt="">Mr. Lawyer</b>
    </a>
   
        <!-- Add the SVG inside the navbar-collapse div -->
        <div class="ml-auto mr-5">
            <a href="/chat/chatlawyer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4495CB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left" style="margin-right: 100px;">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
</a>
        </div>
</nav>

<h2 class="text-center mb-5">Chat History</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
      
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.User.Email
            </td>
        
            <td style="white-space: nowrap">
<a class="btn btn-primary btn-sm" href="@Url.Action("chatlawyer", "Chat", new { chatId = item.Id })">Chat Now</a>

            </td>
        </tr>
    }
    </tbody>
</table>