@using Microsoft.AspNetCore.Identity
@using thesis_lawyer.Data
@using Microsoft.Extensions.DependencyInjection
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/site.js"></script>
</head>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item px-3">
        <a href="/Chat/chatlawyer" class="btn btn-primary" style="background-color: #4495cb; width: auto">Try now</a>
    </li>
    <li class="nav-item">
        @{
            var firstName = "";
            if (User.Identity.IsAuthenticated)
            {
                var user = await UserManager.GetUserAsync(User);
                firstName = user.FirstName;
            }
        }
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @firstName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item px-3">
        <button onclick="alertUnsigned()" class="btn btn-primary" type="button" 
                style="background-color: #4495cb; width: auto"><a style="color: white;text-decoration: none;">Try
                now</a>
        </button>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
